<html>
  <%# the < % - is raw output, to avoid escaping HTML %> 
  <%- include("templates/head.ejs"); %>
  <body>
    <div class="grid-container">
      <%- include("templates/header.ejs"); %>
      <%- include("templates/nav.ejs"); %>
      <main>
        <div class="w3-bar w3-green">
          <button class="w3-bar-item w3-button w3-ripple"
          onclick="location.href='index.html?type=Bike Tool Station';">Bike Tool Station</button>
          <button class="w3-bar-item w3-button w3-ripple"
          onclick="location.href='index.html?type=On street bike pump';">On street bike pump</button>
          <button class="w3-bar-item w3-button w3-ripple"
          onclick="location.href='index.html?type=Bike Pump %26 Tool Station';">Bike Pump & Tool Station</button>
        </div>
        <!-- set type to empty string if its empty -->
        <% if (typeof type == 'undefined') type="" %>
        <%= type %>
      </main>
    </div>
  </body>
</html>