<html>
  <%- include("templates/head.ejs"); %>
  <body>
    <div class="grid-container">
      <%- include("templates/header.ejs"); %>
      <%- include("templates/nav.ejs"); %>
      <main>
        <!-- request.query.search -->
        <%= search %>
      </main>
    </div>
  </body>
</html>