<header style="text-align:center;" >
    <span class="heading" style="font-size:60px;" ><i>Historic Pollution Data</i></span>
    <form class="search" action="search.html">
        <input name="search" placeholder="Search String Location" type="text" />
        <button type="submit"><i class="fa fa-search"></i></button>
    </form>
</header>