<header>
    <span class="heading">Bristol Pollution Checker</span>
    <form class="search" action="search.html">
        <input name="search" placeholder="Search.." type="text" />
        <button type="submit"><i class="fa fa-search"></i></button>
    </form>
</header>