<header>
    <span class="heading">Bike Pump Finder</span>
    <form class="search" action="search.html">
      <input name="search" placeholder="Search.." type="text" />
      <button type="submit" ><i class="fa fa-search"></i></button>
    </form>
</header>