<nav >
    <button onclick="location.href='index.html';"
    class="w3-button w3-block w3-orange w3-border w3-border-white "  >See all March pollution records</button> 
    
    <button onclick="location.href='higher.html';" 
     class="w3-button w3-block w3-orange w3-border w3-border-white">Find locations with high pollution levels</button> 

    <button onclick="location.href='lower.html';"         
    class="w3-button w3-block w3-orange w3-border w3-border-white">Find locations with low pollution levels</button>

    <button onclick="getLocation(loadMap);" 
     class="w3-button w3-block w3-orange w3-border w3-border-white"> See on map total records over the years  </button>

</nav>