<nav>
    <button onclick="location.href='index.html';" 
    class="w3-button w3-block w3-orange w3-border w3-border-white">Find Pollution records</button> 
    
    <button onclick="location.href='higher.html';" 
     class="w3-button w3-block w3-orange w3-border w3-border-white">Higher Levels</button> 

    <button onclick="location.href='lower.html';"         
    class="w3-button w3-block w3-orange w3-border w3-border-white">Low Levels</button>

    <button onclick="getLocation(loadMap);" 
     class="w3-button w3-block w3-orange w3-border w3-border-white">Find Map</button>

</nav>