<nav>
    <button onclick="getLocation(loadMap);" 
     class="w3-button w3-block w3-blue w3-border w3-border-white">Find nearest</button>
    <button onclick="location.href='index.html';" 
     class="w3-button w3-block w3-blue w3-border w3-border-white">Find by type</button>         
</nav>