.grid-container {
  display: grid;
  grid-template-areas:
    'ph ph ph ph ph'
    'ln cn cn cn cn'
    'pf pf pf pf pf';
}

header {
  grid-area: ph;
  padding:20px 10px;
  background-image: url('header.jpg');

}

.heading { font-family:Arial; font-size:x-large; text-align: center; color: rgb(67, 243, 13);}
.search { float:right ;}


nav {
  grid-area: ln;
  background-image: url('header.jpg');
  float: left;
}

main {
  grid-area: cn;
  background-image: url('header.jpg');  
}

tr:nth-child(odd) {  
  background: rgb(161, 160, 160);  
}  

tr:nth-child(even) {  
  background: rgb(173, 245, 183);  
}  

footer {
  grid-area: pf;
  background-image: url('pollution.jpg');
}