.grid-container {
  display: grid;
  grid-template-areas:
    'ph ph ph ph ph'
    'ln cn cn cn cn'
    'pf pf pf pf pf';
}

header {
  grid-area: ph;
  padding:20px 10px;
  background-image: url('pollution.jpeg');
}

.heading { font-family:sans-serif; font-size:x-large; }
.search { float:right }

nav {
  grid-area: ln;
  background-image: url('pollution.jpg');
}

main {
  grid-area: cn;
  background-image: url('Earth\ Gif.gif');
}

footer {
  grid-area: pf;
  background-image: url('pollution.jpg');
}